.main_body{
    background-color: whitesmoke;
}
header {
    color: white;
    width:100%;
    font-size: 20px;
    height: 40px;
    text-align: center;
    padding-top: 5px;
    background-color: rgb(23, 62, 154);
}
