.back_index{
    font-size: 15px;
    margin-left: 20%;
}
.show_title{
    margin-left: 20%;
    font-size: 25px;
    font-weight: bolder;
}
.go_edit{
    font-size: 20px;
    text-align: right;
    margin-right: 20%;
}
.show_table{
    background-color: white;
    width: 60%;
    margin: auto;
    text-align: left;
}
